/* =========================
   Base (Mobile First)
========================= */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%; 
    min-width: 320px;
    height: 48px;
    justify-content: space-between;
    border: 1px #121212 solid;
}

.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px #121212 solid;
    border-bottom: none;
    background-color: none;
    text-decoration: none;
}


.nav-links {
    display: none; /* hidden by default, only icons show */
}

/* =========================
   Small Devices (>=375px)
========================= */
@media (min-width: 375px) {
  .container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
}

/* =========================
   Desktop (>=1024px)
========================= */
@media (min-width: 1024px) {  
  body {
    font-family: 'Gilroy', sans-serif; 
    width: 100%; 
    margin: 0;
    padding: 0;
  }

  .nav-icons {
    display: none; /* hide icons */
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #121212;
    width: 100%;
    height: 83px;
  }

  .thelinks {
    display: flex;
    gap: 0; /* buttons touch each other */
    list-style: none;
    margin: 0;
    padding: 0;

  }


  .thelinks li {
    list-style: none;
    
  }

  .thelinks li:first-child .nav-link {
    border-right: none; 
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #121212;

  }

   .thelinks li:last-child .nav-link {

    border-top: none;
    border-bottom: none;
  }


  .thelinks li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;   /* fixed width like figma */
    height: 83px;   /* fixed height like figma */
    border: 1px solid #121212;
    text-decoration: none;
    font-family: 'Gilroy', sans-serif;
    color: black;
     
    /* text spacing */
    padding: 0;  /* REMOVE padding */
    box-sizing: border-box;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px; 
    width: 100%; 
    margin: 0 auto;
  }
}
