.cart-container {
  padding: var(--space-lg);
  max-width: 480px;
  margin: 0 auto;
  font-family: 'Gilroy', sans-serif;
}

.cart-title {
  font-size: var(--font-lg);
  font-weight: 600;
  text-align: center;
  margin-bottom: var(--space-lg);
}

.empty-cart {
  text-align: center;
  font-size: var(--font-xs);
  color: #555;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: var(--space-md);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
  margin-left: var(--space-sm);
}

.cart-item-name {
  font-size: var(--font-sm);
  font-weight: 500;
}

.cart-item-quantity {
  font-size: var(--font-xs);
  color: #666;
}

.cart-item-price {
  font-weight: 600;
}

.cart-summary {
  margin-top: var(--space-lg);
  padding: var(--space-md);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);

}

.summary-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-total{
      font-family: 'Gilroy', sans-serif;
      font-weight: 500;
}


.continue-btn {
  display: block;
  width: 100%;
  background: #121212;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding: var(--space-sm) 0;
  border-radius: 5px;
  margin-top: var(--space-md);
  cursor: pointer;
}

.continue-btn:hover {
  background: #333;
}
