.body{
    margin: 0 auto;
    box-sizing: border-box;
}

/*Main Herosection*/

.herosection-container {
  display: flex;
  flex-direction: column;

}

.hero-section{
    border-right: 1px solid #121212;
    border-left: 1px solid #121212;
    border-bottom: 1px solid #121212;
    padding: var(--space-lg) var(--space-sm);
}

.hero-text{
  padding-bottom: var(--space-md);
    border-bottom: #121212 1px solid;
}

.hero-text h1{
    text-align: left;
    font-family: 'Gilroy', sans-serif;
    font-size: var(--font-xxxl);
    font-weight: 600;
    margin: 0px;
    padding-bottom: var(--space-md);
}

.hero-text p{
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: var(--font-xs);
    line-height: 140%;
}

.Rmark{
    font-size:30px;
    position: absolute;
}

.herosection-image{
    display: flex ;
    padding-top: var(--font-xs);
}

.herosec-image{

    width: 50%;
    height: 10%;
    opacity: 1;
    border-right: 1px solid #121212;
    padding-right: var(--font-xs);
}

.herosection-image p{
  flex: 1;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: var(--font-xxs);
    line-height: 120%;
    padding-left: var(--font-xs);
    padding-top: 70px;
}

/*FLOWER GRID*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center; 
    width: 100%;
    border-left: 1px solid #121212;
}

.grid-item {
  width: 100%;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  display: block; 
  aspect-ratio: 1/1;/* important: not flex */
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops perfectly without stretching */
  display: block;
}


/* For text-only boxes */
.grid-item.has-text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 100%;
}



.grid-item-title {
    font-weight: 500;
    padding-top: var(--space-lg) ;
    font-size: var(--font-xl);
    line-height: 120%;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    padding-bottom: var(--space-md);
    align-items: center;
}


.shop-now-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xxs);
    border: none;
    color: #121212;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: var(--font-xxs);
    line-height: 120%;
    letter-spacing: 2.5%;
    padding-bottom: var(--space-xxs);

    text-decoration: none;
}

.shop-now-button img {
  width: 18px;
  height: 18px;
}

.shop-now-button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

/*ABOUT US*/
.About-section{
  display: flex;
  flex-direction: column;
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  border-bottom: #121212 1px solid;
}

.About-title h2{
  border-bottom: 1px solid #121212;
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: var(--font-xxl);
  line-height: 120%;
  padding: var(--space-lg) var(--space-sm);
}

.About-description{
  padding: var(--space-lg) var(--space-sm);
}

.About-minititle{
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: var(font-xxxs);
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.About-subtitle{
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: var(--font-xl);

}

.About-subtitle-follow{
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: var(--font-xl);

}

.About-paragraph{
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: var(--font-xs);
  line-height: 140%;
}

.About-button{
  display: block;
  background-color: white;
  padding: var(--space-sm) var(--space-xxxxl);
  border: 1px solid #121212;
  color: #121212;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: var(--font-xxxs);
  line-height: 120%;
  text-transform: uppercase;  
  margin: 0 auto;
}

/*WHY CHOSE US*/
.Whyus-section{
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  border-bottom: #121212 1px solid;
  display: flex;
  flex-direction: column;
}

.Whyus-title {
  padding: 40px 16px;
  border-bottom: 1px solid #121212;
}

.Whyus-title h2{
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 120%;
  padding: var(--space-lg) var(-space-sm);
}

.Whyus-cards{
  display: flex;
  flex-direction: column;
}

.Whyus{
  border-bottom: 1px solid #121212;
  padding: 40px 16px;
}


.Contactus-Socialmedia{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #121212;
}

.Socialmedia-div img{ 
  width: 100%;     
  height: auto;     
  object-fit: cover;
}

.socialmedialinks{
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  display: flex;
  flex-direction: column; /* mobile default */
  align-items: left;
  text-align: left;
  padding: var(--space-sm);
}
.socialmedialinks h2{

}

.socialmedia-icons{

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 15px;
}

.Contactus{
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: var(--font-xxl);
  line-height: 120%;
}


.contactusdata{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
}

.contactus-container{
  padding: 40px 16px;
  border-left: 1px solid #121212;
  border-right: 1px #121212 solid;
}

.bookcall{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bookcall input{
    padding: 12px 16px;
    border: 1px solid #D2D2D7;
    color: #D2D2D7;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
}

.bookcall button{
  background-color: #121212;
  color: white;
  font-family: "Gilroy", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 16px;
  border: none;
}

.contact-phoneaddress{
  display: flex;
  flex-direction: column;
}

.phone{
  flex: 1;
  border-top: #121212 1px solid;
  border-bottom: #121212 1px solid;
}

.phonedetails{
  padding: var(--space-ssm) var(--space-sm);
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 26px;
  border-right: 1px solid #121212;
  border-bottom: 1px solid #121212;
  margin: 0;
  text-align: center;
}

.det1{
  border-left: 1px solid #121212;
}

det2{
  border-top: none;                                                                                                                                                                                                                                                                                                                                                ;
}
.phonenumbers{
  border-right: 1px solid #121212;
  margin: 0px auto;
  align-items: center; /* centers horizontally */
  justify-content: left; /* optional, for vertical centering */
  text-align: left;
  padding: var(--space-md);
  margin: 0 auto;
}

.num1{
  border-left: 1px solid #121212;
}

.contactdetails{
   display: flex;
    font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 2.5%;
}

.fone2{
  border-top: none;
  border-left: #121212 1px solid;
}


/*Services*/
.Contactus-Service{
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: var(--font-xxl);
  line-height: 120%;
}

.Service-section h1{
  padding: 40px 16px;
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  margin: 0;
}

.serviceone{
  display: flex;
  flex-direction: column;
}

.servicediv1{
  width: 100%;
  height: auto;
}
.servicediv-image{
  width: 100%;       /* image will grow and shrink with parent */     /* keeps the aspect ratio */
  object-fit: cover;
}

.servicediv2{
  border-bottom: #121212 1px solid;
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  padding: 12px 16px;
  text-align: center;
}

.service-title{
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: var(--font-xl);
  line-height: 120%;

}

.service-paragraph{
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: var(--font-xxs);
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}

.service-button{
  display: block;
  background-color: white;
  padding: var(--space-sm) var(--space-xxxl);
  border: 1px solid #121212;
  color: #121212;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;  
  margin: 40px auto;
}

.service-buttons{
  display: block;
  background-color: transparent;
  padding: var(--space-sm) var(--space-xxxl);
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;  
  margin: 40px auto;
}

.servicetwo{
  position: relative;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url('../assets/wedding.webp') center/cover no-repeat;
  border-bottom: #121212 1px solid;
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  padding: 12px 16px;
  text-align: center;
 
  color: #fff;
  overflow: hidden;
}

.testimonials-section{
  padding: var(--space-sm);
  border-left: #121212 1px solid;
  border-right: #121212 1px solid;
  margin: 0;
  text-align: center;

}

.testimonials{
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 120%;
  text-align: center;
}

.testifiers{
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}




/* RESPONSIVITY*/
@media (min-width: 375px) {
  .container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
.hero-section{
  padding: var(--space-xl);
}


.herosec-image{
  flex: 30% ;                  /* both take equal width */
}


.herosection-image p {
  flex: 70%  ;         
  padding-top: 250px;
  margin: 0;         /* both take equal width */
}

.socialmedialinks{
  flex-direction: row;
  padding: var(--space-xl) var(--space--xxs); 
  margin: 0;
}

.About-title h2{
    padding: var(--space-xl);
}

.About-description{
      padding: var(--space-xl);
}

.About-subtitle{
  flex:1;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.About-subtitle-follow{
  flex:1;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  border-right: #121212 1px solid;
}


.socialmedia-icons{
  flex: 1;
  align-items: center;
  justify-content: center ;
  text-align: center;
}

.contactus-container{
    padding: var(--space-xl);
}

.phonenumbers{
     padding: var(--space-lg);
     align-items: center; 
     justify-content: center; 
      text-align: center;
}

.contactdetails{
     align-items: center; 
     justify-content: center; 
     text-align: center;
}

.Whyus-title h2{
  padding: var(--space-xl);  
}

.Whyus{
  padding: var(--space-xl);  
}


.Contactus-Service{
  text-align: center;
}

.contact-phoneaddress{
  flex-direction: row;
}

.phone{
  flex: 1;
}

.fone2{
  border-top: #121212 1px solid;
}

.phonenumbers{
    align-items: center; /* centers horizontally */
    justify-content: center; /* optional, for vertical centering */
    text-align: center;
    padding: 54px;
}

.service-button{
  padding: var(--space-md) var(--space-xxxxl);

}
.service-buttons{
    padding: var(--space-md) var(--space-xxxxl);;
}

}


/* Desktop (4 columns layout) */
@media (min-width: 1024px) {
.herosection-container{
  flex-direction: row;
}

.hero-section,
.grid-container{
  flex: 1 50%;
}

.hero-section{
  padding: var(--space-xl);
}

.herosection-image p{
  padding-top: 120px;
}


/*About-Section*/
.About-section{
  flex-direction: row;
}

.About-title{
  flex: 1 50%;
  border-right: #121212 1px solid;

}

.About-title h2{
      border-bottom: none;
}
.About-description{
  flex: 1 50%;
}


.Whyus-section{
  flex-direction: row;
}

.Whyus-title{
  flex: 1 50%;
  border-right: #121212 1px solid;
}

.Whyus-cards{
  flex: 1 50%;
}

.Contactus-Section{
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;

}

.Contactus-Socialmedia{
    flex: 1 50%;
  border-right: #121212 1px solid;
}

.phone{
  border-bottom: none;
}
.Contactus-Details{
    flex: 1 50%;
    border-left: #121212 1px solid;
    border-bottom: #121212 1px solid;
}

.serviceone{
  display: flex;
  flex-direction: row;

}

.servicediv1{
    flex: 1 50%;

}

.servicediv2{
    border-top: #121212 1px solid;
    flex: 1 50%;
    padding: var(--space-xxxxl) var(--space-xl);
    margin: 0 auto;
}

.servicetwo{
   padding: var(--space-xxxxl) 450px;
}

.testimonials-section{
  padding: var(--space-xxxl) var(--space-xl);
}
}

